<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605907695805-bgtkdub955jm7buq648853eoh533k0v5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605907695805-bgtkdub955jm7buq648853eoh533k0v5</string>
	<key>API_KEY</key>
	<string>AIzaSyDSuOru9jtj2AG0HIUvaE7nxhQsTOY9EEY</string>
	<key>GCM_SENDER_ID</key>
	<string>605907695805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseLogin</string>
	<key>PROJECT_ID</key>
	<string>uskudarflutter-409e4</string>
	<key>STORAGE_BUCKET</key>
	<string>uskudarflutter-409e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605907695805:ios:7ca4ff832ac3286e391fd4</string>
</dict>
</plist>